:root {
  /* білий колір і задивка стор #ffffff */
  --white-kolor: #ffffff;

  /* колір основного тексту і заливка  #2E2F42 */
  --title-text-color: #2e2f42;

  /* колір другорядного тексту #434455 */
  --secondary-text-color: #434455;

  /* синя кнопка і веб IRIS color #4D5AE5 */
  --iris-web: #4d5ae5;

  /* button for portfolio#404BBF */
  --ocean-color: #404bbf;

  /* hover and focus */
  --hover-focus: #404bbf;

  /* colors footer studio  #F4F4FD;*/
  --color-text-p: #f4f4fd;

  /* border #E7E9FC */
  --border-button: #e7e9fc;

  /* icon color  #f4f4fd */
  --icona-fill: #f4f4fd;

  /* color #8e8f99 */
  --light-stele: #8e8f99;

  /* transition-duration 250ms */
  --transition-duration: 250ms;

  /* timing-function */
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: #ffffff;
  color: var(--secondary-text-color);
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* утиліти */

.link {
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*  */

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-right: auto;
  margin-left: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* section */

/* .section {
  padding-top: 96px;
  padding-bottom: 96px;
} */
.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.logo {
  display: block;
  color: var(--iris-web);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logosp {
  color: var(--title-text-color);
}

.navigation {
  display: block;
  position: relative;
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
}

.navigation:hover,
.navigation:focus {
  color: var(--hover-focus);
}

.address-auth {
  font-style: normal;
}

.auth {
  display: block;

  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
}
.auth:focus,
.auth:hover {
  color: var(--hover-focus);
}

.current {
  color: var(--ocean-color);
}

.current::after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;

  background: var(--ocean-color);
  border-radius: 2px;
}

/* page-header */
.page-header {
  background-color: var(--white-kolor);
  /* border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); */
}

/* section1 (hero) */

.hero {
  /* background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/doing/people-office-hero.jpg); */
  margin: 0 auto;

  background-size: cover;

  background-repeat: no-repeat;

  background-position: center;

  background-color: var(--title-text-color);
  text-align: center;
}

.hero-name {
  color: var(--white-kolor);
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.02em;

  margin-left: auto;
  margin-right: auto;
}

.hero-button {
  background-color: var(--iris-web);
  color: var(--white-kolor);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  display: block;
  text-align: center;
  border: none;
  min-width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
}

.hero-button:focus,
.hero-button:hover {
  background-color: var(--hover-focus);
}

/* section 2 */

/* .section-two {
}

.h-hidden {
  color: var(--title-text-color);
  font-style: normal;
}

/* svg image */

.icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;

  background-color: var(--color-text-p);
  border-radius: 4px;
  margin-bottom: 8px;
}
*/

/* .list-combination {
  width: 264px;
  flex-basis: calc((100% - 72px) / 4);
} */

/* .list-section-two {
  display: flex;
  gap: 24px;
} */

.list-title {
  color: var(--title-text-color);
  letter-spacing: 0.02em;

  margin-top: 0;
  margin-bottom: 8px;
}
.list-paragraph {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  margin-top: 0;
  margin-bottom: 0;
}

/* section3 */

.aboutus {
  padding-top: 0;
}
.aboutus-name {
  margin-bottom: 72px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  margin-top: 0;
  margin-bottom: 72px;
}

.list-card {
  /* display: flex;
  gap: 24px; */
}

.list-lists {
  /* border: 1px solid #e7e9fc;
  width: 360px;
  flex-basis: calc((100% - 48px) / 3); */
}

/* section4 */

.list-people {
  /* display: flex;
  gap: 24px; */
}

.team {
  background-color: var(--color-text-p);
}
.team-list {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: var(--white-kolor);
  /* flex-basis: calc((100% - 72px) / 4); */

  border-radius: 0 0 4px 4px;
}

.team-our {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 72px;
}

.data {
  padding: 32px 0;
  /* width: 264px; */
}

.team-name {
  text-align: center;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-bottom: 8px;
}
.team-paragraph {
  text-align: center;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-top: 0;

  margin-bottom: 8px;
}

.icona {
  fill: var(--icona-fill);
}

.lisct-icon {
  width: 40px;
  height: 40px;
}

.social-icon {
  fill: var(--icona-fill);
}

.link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris-web);
  cursor: pointer;

  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
}

.link-icon:hover,
.link-icon:focus {
  background-color: var(--ocean-color);
}

.social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

/* section 5 */

.customers-name {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.list-logotype-company {
  display: flex;

  /* gap: 24px; */
}

.company-list {
  /* /* width: calc((100% - 120px) / 6); */
  /* height: 88px; */
}

.company-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--light-stele);
  border-radius: 4px;
  color: var(--light-stele);

  transition-property: border-color, color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
}
.company-icon-link:hover,
.company-icon-link:focus {
  color: var(--hover-focus);
  border-color: var(--hover-focus);
}

.company-icon {
  fill: currentColor;
}

.company-icon:hover,
.company-icon:focus {
  fill: var(--hover-focus);
}

/*---- FOOTER---- */

.footer {
  background-color: var(--title-text-color);
  /* padding-top: 100px;
  padding-bottom: 100px; */
}
.one-footer-container {
  /* margin-right: 120px; */
}
.footer-container {
  display: flex;
  /* align-items: baseline; */
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;

  color: var(--iris-web);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 0;
  padding-bottom: 0;
}

.footer-span {
  color: var(--color-text-p);
}

.footer-paragraph {
  display: flex;
  color: var(--white-kolor);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-bottom: 0;
}

/* div social */

.social-container {
  /* margin-right: 80px; */
}

.social-footer {
  color: var(--white-kolor);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-list-icon {
  width: 40px;
  height: 40px;
}

.list-icon-footer {
  display: flex;
  gap: 16px;
}

.icon-company-footer {
  fill: var(--icona-fill);
}

.icon-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;

  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
}

.icon-footer:hover,
.icon-footer:focus {
  background-color: #31d0aa;
}

/* -------- div Subscribe --------*/

.form-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-subscribe {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-kolor);
  margin-bottom: 16px;
}

.imput-email-footer {
  padding: 8px 0 8px 16px;
  height: 40px;
  color: var(--white-kolor);

  background-color: transparent;
  border: 1px solid var(--white-kolor);
  border-radius: 4px;
}

.footer-subscribe {
  width: 165px;
  height: 40px;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  cursor: pointer;

  display: flex;
  align-content: center;
  justify-content: center;
  column-gap: 16px;

  background-color: var(--iris-web);

  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
}

.footer-subscribe:hover,
.footer-subscribe:focus {
  background-color: var(--hover-focus);
}

.text-subscribe-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-kolor);
}

.imput-email-footer::placeholder {
  font-style: normal;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  color: var(--white-kolor);
}

.icon-telegr {
  fill: var(--white-kolor);
}

/* ----- Modal window ----- */

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition-property: opacity, visibility;
  transition-duration: var(--transition-duration), var(--transition-duration);
  transition-timing-function: var(--timing-function), var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;

  visibility: hidden;

  pointer-events: none;
}

.modal {
  padding: 72px 24px 24px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 408px;
  height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
}

.button-window {
  position: absolute;
  top: 24px;
  right: 24px;

  padding: 0;
  border: none;
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;

  transition-property: background-color, border;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
}

.button-window:hover,
.button-window:focus {
  background-color: var(--ocean-color);
  border: none;
}

.icon-button-close {
  fill: #2e2f42;

  transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
}

.button-window:hover .icon-button-close,
.button-window:focus .icon-button-close {
  fill: var(--white-kolor);
} */

/* ----- Modal form ----- */

/* .modal-form {
  display: flex;
  flex-direction: column;
}

.modal-text {
  margin-bottom: 16px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}

.name-imput {
  display: block;

  margin-bottom: 4px;

  color: var(--light-stele);
  font-style: normal;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-form-label {
  margin-bottom: 8px;
}

.modal-form-imput {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 11px 0 11px 38px;

  transition-property: border-color;
  text-decoration: var(--transition-duration);
  transition-timing-function: var(--transition-duration);
}

.modal-form-imput:focus {
  outline: none;
  border-color: var(--iris-web);
}
.modal-form-imput:focus + .cvg-persona {
  fill: var(--iris-web);
}

.modal-texteria {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  transition-property: border-color;
  text-decoration: var(--transition-duration);
  transition-timing-function: var(--transition-duration);
}
.texteria-margin {
  display: block;
  height: 138px;
  margin-bottom: 16px;
}
.modal-texteria::placeholder {
  font-style: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-texteria:focus {
  outline: none;
  border-color: var(--iris-web);
}

.wrapper-for-icon {
  display: block;
  position: relative;
}

.cvg-persona {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;

  transition-property: fill;
  text-decoration: var(--transition-duration);
  transition-timing-function: var(--transition-duration);
}

.icon-policy {
  fill: #f4f4fd;
}

.wrapper-policy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  background-color: var(--white-kolor);
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;

  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
}

.checkbox-checked:checked + .wrapper-policy {
  background-color: var(--ocean-color);
  border-color: var(--ocean-color);
}

.privacy-policy-text {
  align-items: center;

  display: flex;
  font-style: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-stele);
  margin-bottom: 24px;
}

.privacy-policy-link {
  font-style: normal;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: var(--iris-web);
}

.button-sabmit {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--white-kolor);
  background: var(--iris-web);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;

  padding: 16px 32px;
  width: 169px;
  font-weight: 500;
  height: 56px;

  margin-left: auto;
  margin-right: auto;

  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
}

.button-sabmit:hover {
  background-color: var(--hover-focus);
} */

/* cvg-modal */

/* .cvg-modal {
  position: absolute;
} */

/*  cvg-modal*/

/* ----- Modal form ----- */

/* ----- Modal window ----- */

/* PORTFOLIO */
/* button */

/* .section-main-portfolio {
  padding: 96px 0 120px 0;
}

.list-button {
  display: flex;
  justify-content: center;
  column-gap: 24px;
  margin-bottom: 72px;
}

.filters-button {
  display: block;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--border-button);

  background-color: var(--color-text-p);
  color: var(--iris-web);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;

  transition-property: background-color, color, border-color, box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
}

.filters-button:hover,
.filters-button:focus {
  background-color: var(--ocean-color);
  color: var(--white-kolor);
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  row-gap: 48px;
  column-gap: 24px;

  flex-wrap: wrap;
}
.portfolio-list .item {
  width: calc((100% - 48px) / 3);
}

.photo-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
}

.photo-link:hover,
.photo-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list .item.item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.application-categories {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolioname {
  margin-bottom: 0;
  margin-top: 0;
  margin-bottom: 8px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolioparagraph {
  margin-bottom: 0;
  margin-top: 0;

  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
} */

/* ------- overlay------ */

/* .portfolio-team-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(0, 100%);

  background-color: #4d5ae5;
  color: var(--color-text-p);
  padding: 40px 32px;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition-property: transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
}

.photo-link:hover .overlay,
.photo-link:focus .overlay {
  transform: translate(0, 0);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
} */

@media screen and (min-width: 428px) {
  .nav-auth {
    display: flex;
  }
  .nav-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 767px) {
  .nav-header {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .container {
    max-width: 428px;
  }
  .nav-auth {
    display: flex;
  }

  .site-nav,
  .address-auth {
    display: none;
  }

  .button-burger-open {
    stroke: var(--title-text-color);
  }

  .hero-section {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .hero-name {
    margin-bottom: 72px;
  }

  .list-title {
    text-align: center;
  }
  .list-combination:not(:last-child) {
    margin-bottom: 72px;
  }
  .list-people {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
  }

  .company-icon-link {
    width: 190px;
    height: 88px;
  }

  .list-logotype-company {
    flex-wrap: wrap;
    gap: 72px 16px;
    justify-content: center;
  }

  /*  */
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
  }

  .footer-paragraph {
    max-width: 268px;
  }

  .footer-logo,
  .social-footer,
  .text-subscribe {
    display: flex;
    justify-content: center;
  }

  .form-footer {
    flex-direction: column;
  }

  .imput-email-footer {
    margin-bottom: 16px;
    width: 100%;
  }
}

/*  */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (max-width: 1157px) {
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .icon-bg {
    display: none;
  }
  .section.aboutus {
    display: none;
  }

  .list-title {
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
  }

  .section.aboutus {
    display: none;
  }
}

/*  */

/* @media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
} */
